.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}
.overlay.ativa {
    opacity: 1;
    visibility: visible;
}
.side-bar {
    width: 25%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 5rem 3rem 3rem 3rem;
    top: 0;
    right: -25%;
    z-index: 10;
    background: #F4F7F6;
    transition: right 0.4s ease-in-out;
}
.side-bar.ativa {
    right: 0;
}
.side-bar .btn-exit {
    border: none;
    background-color: #F4F7F6;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #b42515;
    font-size: 14px;
}
.side-bar .btn-exit:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.side-bar .btn-exit:active {
    transform: scale(0.95);
}
.side-bar .conteiner-profile {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.side-bar .conteiner-profile .foto-perfil {
    width: 100%;
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
}
.side-bar .conteiner-profile .profile-name {
    outline: none;
    border: none;
    border-bottom: 2px solid #2C3E50;
    text-align: center;
    font-size: 16px;
    padding: 0 0.5rem 5px 0.5rem;
    background-color: #F4F7F6;
    color: #2C3E50;
}
.side-bar nav {
    width: 100%;
    height: 60%;
}
.side-bar nav .menu {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.side-bar nav .menu li {
    width: 100%;
}
.side-bar nav .menu li a {
    text-decoration: none;
    color: #b42515;
    font-weight: bolder;
    transform-origin: left; 
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    transform: translateX(0);
    padding: 5px 5px 5px 5px;
}
.side-bar nav .menu li a:hover {
    color: #F4F7F6;
    background-color: #b42515;
    border-radius: 10px;
    transform: translateX(10px); 
}