
<div class="overlay"></div>
<div class="side-bar">
    <button class="btn-exit"><i class="fa-solid fa-x"></i></button>
    <div class="conteiner-profile">
        <img class="foto-perfil" src="/images/foto-perfil.png" alt="">
        <input class="profile-name" type="text" value="" placeholder="Insira seu nickname">
    </div>
    <nav>
        <ul class="menu">
            <li><a href="/Routes/index.html"><i class="fa-solid fa-house"></i> &nbsp; home</a></li>
            <li><a href=""><i class="fa-solid fa-paste"></i> &nbsp; histórico</a></li>
            <li><a href=""><i class="fa-solid fa-gear"></i> &nbsp; configurações</a></li>
            <li><a href=""><i class="fa-solid fa-handshake"></i> &nbsp; sobre nós</a></li>
        </ul>
    </nav>
</div>
<link rel="stylesheet" href="/styles/components/side-bar.css">
