* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, a, p, span, label, input, div {
    font-family: "Roboto", sans-serif;;
}
main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 0 4rem;
    position: relative;
    gap: 2rem;
}
.header-projects {
    width: 100%;
    height: 3rem;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(180, 37, 21, 0.5);
}
.header-projects h1 {
    color: #b42515;
    font-size: 2rem;
}
.conteiner-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 6rem; 
    padding: 20px;
}
.card {
    height: 12rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px #888888;
}
.header-card {
    height: 25%;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background: #b42515;
    color: white;
    border-radius: 10px 10px 0 0;
}
.header-card h3 {
    font-size: 24px;
}
.header-card .btn-edit {
    border: none;
    background: #b42515;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.content-card {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 10px 2rem 10px;
    justify-content: space-around;
    position: relative;
}
.content-card p{
    color: #2C3E50;
    font-size: 20px;
}
.btn-dowload {
    position: absolute;
    border: none;
    background: white;
    color: #b42515;
    font-size: 24px;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}
.modal-content {
    width: 50%;
    height: 90%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    border-bottom: 2px solid rgba(180, 37, 21, 0.5);
}
.top-edit h2 {
    font-size: 28px;
    color: #2C3E50;
}
.top-edit h2 span {
    color: #b42515;
}
.top-edit .btn-erase {
    height: 32px;
    border: none;
    background: white;
    color: #b42515;
    font-size: 24px;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
}
.Info-project {
    width: 100%;
    height: 45%;
    display: flex;
    border-bottom: 2px solid rgba(180, 37, 21, 0.5);
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}
.Info-project h3 {
    color: #2C3E50;
    font-size: 20px;
    font-weight: bolder;
}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-group label {
    color: #2C3E50;
}
.inputs-digits  {
    width: 100%;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #ededed; 
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
}
#edit-name , #edit-budget {
    width: 50%;
}

.inputs-digits:focus {
    background-color: #fff; 
    border-color: #b42515;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    outline: none;
}
.inputs-digits.erro {
    background-color: #f9e1de;
    border-color: #e74c3c;
    color: #e74c3c;
}
.conteiner-select {
    position: relative;
    width: 50%;
}
.conteiner-select label {
    color: #2C3E50;
}
.trigger {
    width: 100%;
    padding: 14px;
    display: flex;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #ededed;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
}
#trigger span {
    color: rgba(44, 62, 80, 0.6);
}
.conteiner-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    z-index: 8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.option {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
    color: #2C3E50;
}
.option:hover {
    background-color: #b42515;
    color: white;
}
.conteiner-select.active .conteiner-options {
    display: block;

}
.conteiner-select:hover #trigger {
    background-color: #fff; /* Fica branco quando escreve */
    border-color: #b42515;  /* Sua cor principal */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    outline: none;
}
.info-services {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid rgba(180, 37, 21, 0.5);
    padding-bottom: 15px;
}
.top-services {
    display: flex;
    height: 1rem;
    gap: 10px;
    align-items: center;
}
.top-services h3 {
    color: #2C3E50;
    font-size: 20px;
    font-weight: bolder;
}
.top-services .btn-services {
    background-color: white;
    color: #b42515;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 2px;
}
.btn-services:hover {
    transform: scale(1.2);
}
.info-services p {
    color: #2C3E50;
}
.conteiner-buttons {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.conteiner-buttons .buttons {
    width: 10rem;
    border: none;
    padding: 1rem 2rem;
    font-weight: bolder;
    border: none;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#btn-cancel {
    background-color: white;
    color: #b42515;
    border: 2px solid #b42515 ;
}
#btn-save {
    background-color: #b42515;
    color: white;
}
#btn-save:hover, #btn-cancel:hover  {
    transform: scale(1.05);
}
#btn-save:active, #btn-cancel:active {
    transform: scale(0.95);
}
.painel-service {
    width: 18rem;
    height: 17rem;
    display: none;
    flex-direction: column;
    padding: 2rem 1rem 1rem 20px;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 23;
    position: absolute;
    top: 57.7%;
    right: 6%;
}
.painel-service.show {
    display: flex;
    animation: slideIn 0.5s ease forwards;
}
.painel-service.hide {
    display: flex;
    animation: slideOut 0.5s ease forwards;
}
@keyframes slidein {
    from {
        right: 10%;
        opacity: 0;
    }
    to {
        right: 6%; 
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        right: 6%; 
        opacity: 1;
    }
    to {
        right: 10%;
        opacity: 0;
    }
}    
.painel-service h3 {
    color: #2C3E50;
}
.inputs-services {
    width: 100%;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #ededed; 
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease;
}
.inputs-services:focus {
    background-color: #fff; 
    border-color: #b42515; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    outline: none;
}
.inputs-services.erro {
    background-color: #f9e1de;
    border-color: #e74c3c;
    color: #e74c3c;
}
.buttons-conteiner-service {
    width: 100%;
    border-top: 2px solid rgba(180, 37, 21, 0.5);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.buttons-service {
    width: 6rem;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#btn-cancel-service {
    background-color: white;
    color: #b42515;
    border: 2px solid #b42515 ;
}
#btn-create-service {
    background-color: #b42515;
    color: white;
}    