* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, a, p, span, label, input, div {
    font-family: "Roboto", sans-serif;;
}
main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F7F6;
    position: relative;
}
.conteiner-form {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
}
.conteiner-title {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.first-title {
    color: #b42515;
}
.first-p {
    color: #2C3E50;
}
.first-p span {
    font-weight: bolder;
}
.form-project {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 15px;
}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-group label {
    color: #2C3E50;
}
.inputs-digits {
    width: 100%;
    padding: 14px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #ededed; 
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.inputs-digits.erro {
    background-color: #f9e1de;
    border-color: #e74c3c;
    color: #e74c3c;
}
.inputs-digits:focus {
    background-color: #fff; 
    border-color: #b42515; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    outline: none;
}
.conteiner-select {
    position: relative;
    width: 100%;
}
.conteiner-select label {
    color: #2C3E50;
}
.trigger {
    width: 100%;
    padding: 14px;
    display: flex;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #ededed; 
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
}
#trigger span {
    color: rgba(44, 62, 80, 0.6);
}
.conteiner-options {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    z-index: 8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.option {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
    color: #2C3E50;
}
.option:hover {
    background-color: #b42515;
    color: white;
}
.conteiner-select.active .conteiner-options {
    display: block;

}
.conteiner-select:hover #trigger {
    background-color: #fff; 
    border-color: #b42515;  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    outline: none;
}
.btn-submit {
    width: 30%;
    border: none;
    padding: 1rem 2rem;
    background-color: #b42515;
    color: white;
    font-weight: bolder;
    border: none;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}
.btn-submit:hover {
    background-color: #F4F7F6;
    border: 2px #b42515 solid;
    color: #b42515;
    transform: scale(1.05);
}
.btn-submit:active {
    transform: scale(0.95);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ededed inset !important; 
    -webkit-text-fill-color: #2C3E50 !important;
    transition: background-color 5000s ease-in-out 0s;
}